.inner-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;
}

.search-column {
  flex: 1;
}

.meteo-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meteo-card {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .inner-container {
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
  }

  .transparent-card,
  .meteo-column {
    width: 90%;
    max-width: 100%;
    margin: 10px auto;
  }

  .search-column {
    order: 1;
  }

  .meteo-column {
    order: 2;
  }

  .meteo-card {
    width: 100%;
    margin-top: 0;
  }
}

.transparent-card {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 8px;
  margin-top: 6rem;
  max-width: 600px;
}
